@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
$primary-color: #156963;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1248px;
  padding: 0 40px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  font-weight: 500;
  font-size: 68px;
  color: $primary-color;
}
p {
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  color: #2c1500;
}
