.sec4 {
  margin-bottom: 80px;
  > div {
    display: flex;
    justify-content: space-between;
  }
  .sec4_info {
    h2 {
      font-weight: 700;
      font-size: 40px;
      line-height: 140%;
      color: #2c1500;
      max-width: 522px;
    }
    p {
      margin-top: 16px;
      margin-bottom: 74px;
      font-weight: 400;
      font-size: 16px;
      line-height: 175%;
      color: #2c1500;
      opacity: 0.8;
      max-width: 522px;
    }
    img {
      width: 568px;
      height: 250px;
    }
  }
  .sec4_img {
    width: 513px;
    height: 609px;
  }
}
